.git
.gitignore
.editorconfig
.env
.env.*
node_modules
vendor
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
tests
docker-compose.yml
docker-compose.yaml

