.git
.gitignore
src/.env
src/.env.*
src/node_modules
src/vendor
npm-debug.log
yarn-error.log
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/debugbar/*
src/tests
docker-compose.yml
docker-compose.yaml
